

.box{
    margin-left:200px;
    margin-top:20px;
}
.tab-content{
    margin-left:0px;
}

.badge {
	background-color:cadetblue;
	display: inline-block;
	padding: 0.25em 0.4em;
	font-size: initial;
	font-weight: 500;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	margin-top: 1%;
	width:10%;
}

.existing {
	margin-top:2%;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    margin-top: 1%;
    font-weight: 400;
    
}